
.clearfix::after { content: '.'; display: block; font-size:0; height: 0; clear: both; visibility: hidden;}
.clearfix { display: block; }
ul, li, h1, h2, h3, h4, h5, h6{margin: 0; padding: 0}
ul, li{list-style: none;}
.wrapper-directory{width: 100%; background: #f8f7f7}
.wrapper-directory, .wrapper-directory *, *::before, *::after{box-sizing: border-box; font-family: proximanova, sans-serif; font-style: normal;}
.wrapper-directory .search-wrapper{background: #969696;}
.wrapper-directory .search-wrapper ul{max-width: 710px; margin: 0 auto; padding: 12px 0;}
.wrapper-directory .search-wrapper ul li{display: block; position: relative; float: left}
.wrapper-directory .search-wrapper ul li:first-child{width: 60%; border-right: 1px solid #d9d9d9}
.wrapper-directory .search-wrapper ul li:nth-child(2){width: 32%;}
.wrapper-directory .search-wrapper ul li:nth-child(3){width: 8%;}
.wrapper-directory .search-wrapper ul li input{height: 52px; line-height: 52px; width: 100%; background: #fff; border: 0; padding: 0 10px; font-size: 15px; color: #555}
.wrapper-directory .search-wrapper ul li input:focus{}
.wrapper-directory .search-wrapper ul li button{background: #575757; border: 0; width: 55px; height: 52px}
.wrapper-directory .wrapper{max-width: 1000px; margin: 0 auto;}
.directory-content{padding: 20px 0;}
.wrapper-directory h6{background: #fff; text-align: center; padding: 20px 0; font-size: 18px; line-height: 1; font-weight: normal;}
.wrapper-directory h6 strong{font-weight: bold}
.lhs-filter{width: 320px; float: left; background: #fff; border: 1px solid #ccc;}
.lhs-filter h2{background: #d8d8d8; font-weight: 600; color: #4a4a4a; padding: 15px 20px; text-transform: uppercase; font-size: 16px; line-height: 1}


/* Filter */

.filter-box{border-bottom: 1px solid #e4e4e4; padding: 20px;}
.filter-box h3{font-weight: 300; text-transform: uppercase; font-size: 20px; line-height: 1; color: #4a4a4a; margin: 0 0 20px;}
.filter-box h3 i{display: block; float: right; position: relative; height: 20px;}
.filter-box h3 i::before{content: ''; width: 10px; height: 2px; background: #4a4a4a; position: absolute; display: block; right: 0; top: 50%; transform: translate(0, -50%);}
.filter-box ul li{display: block; margin: 0 0 15px 0;}
.filter-box ul li input[type='checkbox']{opacity: 0; position: relative; z-index: 1; width: 20px; height: 20px; padding: 0; margin: 0; vertical-align: text-bottom;}
.filter-box ul li label{position: relative; padding-left: 16px; line-height: 22px; display: inline-block;}
.filter-box ul li label::after{transition: 0.1s ease all; transform: rotate(-15deg); content: '';}
.filter-box ul li label::before{content: ''; width: 20px; height: 20px; border: 1px solid #ccc; border-radius: 2px; background: #fff; position: absolute; left: -24px; cursor: pointer; transition: 0.5s ease}
.filter-box ul li input[type='checkbox']:checked + label::after{width: 13px; height: 7px; border-bottom: 2px solid #fff; border-left: 2px solid #fff; position: absolute; left: -21px; top: 4px; transform: rotate(-45deg);}
.filter-box ul li input[type='checkbox']:checked + label::before{background: #d0021b; border: 0;}
