.clearfix::after { content: '.'; display: block; font-size:0; height: 0; clear: both; visibility: hidden;}
.clearfix { display: block; }

.rhs-results{width: calc(100% - 345px); float: right;}
.rhs-results ul.list{margin: 0; padding: 0}
.rhs-results ul.list li{background: #fff; border: 1px solid #e4e4e4; box-shadow: 0 2px 2px rgba(0,0,0,0.2); display: block; margin: 0 0 30px; padding: 20px; position: relative; font-size: 14px}
.rhs-results ul.list li .column11{width: 27%; float: left;}
.rhs-results ul.list li .column11:nth-of-type(2){float: right;}
.rhs-results ul.list li h4, .rhs-results ul.list li h5{font-weight: bold; color: #000; font-size: 22px;}
.rhs-results ul.list li h5{font-weight: 600; font-size: 20px}
.rhs-results .result-status{position: absolute; left: 50%; top: 40%; transform: translate(-50%, -40%); font-size: 12px}
.rhs-results .result-status .open{color: #569a07}
.rhs-results .result-status .close{color: #d0021b}
.result-footer{clear: both;}
